extends ../layouts/application.pug

block content
  h1= t('views.statuses.title')
  a.btn.btn-primary(href=route('newStatus'))= t('views.statuses.new')
  table.table.table-striped
    thead
      tr
        th= t('views.statuses.id')
        th= t('views.statuses.name')
        th= t('views.statuses.createdAt')
        th= t('views.statuses.actions')
    tbody
      each status in statuses
        tr
          td= status.id
          td= status.name
          td= formatDate(status.createdAt)
          td
            +formFor()(action=`/statuses/${status.id}` method='post')
              a.btn.btn-primary.me-1(href=`/statuses/${status.id}/edit`)=t('buttons.change')
              input(name="_method" type="hidden" value="delete")
              input.btn.btn-danger(type="submit" value=t('buttons.delete'))
