extends ../layouts/application.pug

block content
  h1= t('views.labels.title')
  a.btn.btn-primary(href=route('labelNew'))= t('views.labels.new')
  table.table.table-striped
    thead
      tr
        th= t('views.labels.id')
        th= t('views.labels.name')
        th= t('views.labels.createdAt')
        th= t('views.labels.actions')
    tbody
      each label in labels
        tr
          td= label.id
          td= label.name
          td= formatDate(label.createdAt)
          td
            +formFor()(action=`/labels/${label.id}` method='post')
              a.btn.btn-primary.me-1(href=`/labels/${label.id}/edit`)=t('buttons.change')
              input(name="_method" type="hidden" value="delete")
              input.btn.btn-danger(type="submit" value=t('buttons.delete'))
